{% extends "master.html" %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}
<a href="{% url 'menu' %}">Back</a>
<h1>{{ title }}</h1>
<br>
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

<br>
<div>
  {% for i in ingredients %}
    <h3>{{ i }}</h3>

    <form action="{% url 'add_to_cart' m.uuid %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ meal_type }}">
      <input type="submit" value="Pridať do košíka">
    </form>

  {% endfor %}
</div>

{% endblock %}
